<%- include('layout/header') %>
<main>
  <div class="center-contant">
    <% if (message) { %>
    <div class="alart-message alert-<%= message.type %>" role="alert">
      <strong><%= message.message %></strong>
      <button
        type="button"
        class="close-btn"
        date-bs-dismiss="alert"
        onclick="closeMessage(this)"
      >
        X
      </button>
    </div>
    <% } %> <% if (users != "") { %>

    <table class="user-table">
      <thead>
        <tr style="background: #333; color: #fff">
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>E-Maile</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((row, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <img class="user-imgae" src="<%= row.image %>" width="50" />
          </td>
          <td><%= row.name %></td>
          <td><%= row.email %></td>
          <td><%= row.phone %></td>
          <td class="eaditeAndUpdate">
            <a href="/edit/<%= row._id  %>"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
            <a href="/delete/<%= row._id %>"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <h1>No User found!!!</h1>
    <% } %>
  </div>
</main>

<%- include('layout/footer') %>
